services:
  backend:
    build: ./backend
    ports:
      - '3001:3001'
    environment:
      - PORT=3001
      - NODE_ENV=development
      - MONGODB_URI=mongodb+srv://admin:TtNiD2NfnNMLNyrz@ping.ldpwslp.mongodb.net/?retryWrites=true&w=majority&appName=Ping
      - JWT_SECRET=funcity<3
      - CLOUDINARY_CLOUD_NAME=dmcqllehk
      - CLOUDINARY_API_SECRET=lIrGdWLgE9mLThGaZjSruRf47ew
      - CLOUDINARY_API_KEY=323199925546442

  frontend:
    build: ./frontend
    ports:
      - '3000:80'
    environment:
      - BE_URL=http://backend:3001
      - BASE_URL=http://backend:3001
